/bootstrap
/bootstrap/autoload.php
/bootstrap/paths.php
/bootstrap/start.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
app/config/database.php
*.JPG
app/config/database.php
