@import url(http://fonts.googleapis.com/css?family=Dosis:600,500);
@font-face {
    font-family: 'csiconfont';
    src:url('../fonts/csiconfont.eot');
    src:url('../fonts/csiconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/csiconfont.woff') format('woff'),
        url('../fonts/csiconfont.ttf') format('truetype'),
        url('../fonts/csiconfont.svg#csiconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
 * Globals
 */

a, 
a:hover, 
a:focus, 
a:visited
{
  color: #ffffff;
  text-decoration: none;
}

a.btn,
a.btn:hover,
a.btn:focus,
a.btn:visited,
{
  color: #ffffff;
  text-decoration: none;
}

body {
/*  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;*/
  background: #fff url('/../assets/images/bg.png') repeat top center fixed;
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  color: #333;
}

.bggray
{
   background: #bcbcbc;
   border-color: #bcbcbc;
   color: 8c2d83;
}
.bgviolet
{
   background: #8c2d83;
   border-color: #8c2d83;
   color: 8c2d83;
}

.bar-menu
{
  margin-top: 20px;
}
.white
{
  color: #ffffff;
}

.carioca_line 
{
  margin: 40px auto;
}

.carioca_color1
{
  background: #8c2d83;
  color: #fff;
}

.carioca_color2
{
  background: #81bcb4;
  color: #fff;  
}

.carioca_color3
{
  background: #d1da26;
  color: #fff;
}

.carioca_color4
{
  background: #c94780;
  color: #fff;
}

.carioca_color5
{
  background: #bcbcbc;
  color: #fff;
}

.carioca_block1 
{
  background: #8c2d83;
  display: inline-block;
  margin-left: -3px;
  height: 10px;
  width: 10%;
}

.carioca_block2 
{
  background: #81bcb4;
  display: inline-block;
  margin-left: -3px;
  height: 10px;
  width: 10%;
}

.carioca_block3 
{
  background: #d1da26;
  display: inline-block;
  margin-left: -3px;
  height: 10px;
  width: 10%;
}

.carioca_block4 
{
  background: #c94780;
  display: inline-block;
  margin-left: -3px;
  height: 10px;
  width: 10%;
}

.error {
  background-color: #f2dede;
  border-color: #ebccd1;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #a94442;
  margin-bottom: 20px;
  padding: 5px;
}

.navbar-right 
{
  margin-top: 40px;
}

.navbar-inverse
{
  background-color: rgba();
  background: #bcbcbc;
  margin-top: -45px;
}

.navbar-inverse li a,
.navbar-inverse li a:hover,
.navbar-inverse li a:focus,
.navbar-inverse li a:visited,
{
  color: #000;
  font-size: 1.1em;
}

.social-btns
{
  margin-left: 20px;
}

.social-btns a
{
  padding: 0 40px;
}

.shopping-cart
{
  margin-left: 120px;
}

/*.navbar-nav > li > a,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:visited,
{
  color: #000;
  text-decoration: none;
}*/

.cart 
{
  background: #81bcb4;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #333;
  padding: 20px;
}

.cart-badge
{
  /*border-radius: 15%;
  position: relative;
  right: -82px;
  top: -15px;*/
}

.footer
{
  background: #81bcb4;
  color: white;
}

.footer a
{
  color: white;
}

.footer p
{
  text-align: center;
}

.carioca-logo
{
  background: url('/../assets/images/logo-3.png') no-repeat top right fixed;
  height: 165px;
}

.instagram
{
  background: #8c2d83;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 1px 1px 2px #333;
}

.facebook
{
  background: #c94780;
  box-shadow: 1px 1px 2px #333;
}

.twitter
{
  background: #d1da26;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 1px 1px 2px #333;
}
.quote
{
  text-align: center;
  transform: rotate(355deg);
  -o-transform: rotate(355deg);
  -moz-transform: rotate(355deg);
  -webkit-transform: rotate(355deg); 
}
.banner_top
{
    width: 75%;
    box-shadow: 2px 2px 5px #999;
}
.banner_bot
{
    width: 50%;
    box-shadow: 2px 2px 5px #999;
}

.carioca-index-image
{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url(/../assets/images/imagen_referencial.jpg);
  width:100%;
}

.white-space-index
{
  height: 250px;
}

.social-box
{
  padding: 7px 20px; 
}

.title-box
{
  bottom: 0;
  left: 0px;
  padding: 5px;
  position: absolute;
  text-align: right;
  width: 100%;
}

.title-box-div
{
  padding: 5px;
  text-align: right;
  width: 100%;
}

.box
{
  height: 83px;
}

.boxes
{
  margin-top: 1px;
}
.carrito
{
  background-image: url(/../assets/images/home_carrito.png);
  width: 370px;
  height: 190px;
}

.products
{
  background-image: url(/../assets/images/home_productos.png);
  width: 370px;
  height: 190px;
}

.img-index, .buttons, .last-box-index
{
  margin-top:25px;
}

@media (max-width: 900px) {
  .white-space-index, .boxes
  {
    display: none;
  }

  .carrito, .products, .social-buttons
  {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .carioca-index-image {
    height: 710px;
  }
}

/* estilos de la galeria */

div.jMyCarousel
{
   margin-top: 10px; 
   height: 143px !important;
}
div.jMyCarousel .prev
{
   background: url('/../assets/css/images/left.png') center center no-repeat; 
   width:47px; height:61px; border:0px;
}
div.jMyCarousel .next  
{
   background: url('/../assets/css/images/right.png') center center no-repeat; 
   width:40px; height:61px; 
   border:0px; 
}
div.jMyCarousel ul li
{
   margin:0px;
   line-height:0px;
   padding:0px;
}
div.jMyCarousel ul li a
{
   display:block; 
}
div.jMyCarousel ul li img
{
   display:block; border:0px; 
   margin: 0px 5px 0px;
}
#contenido_galeria 
{
   /*position: relative; */
   height: 350px;
}
#contenido_galeria img  
{
   /*float: left; */
   width: 700px;
}
#contenido_galeria p 
{
   width: 270px; 
   position: absolute; 
   top: 0px; 
   left: 730px; 
}